.cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: palegoldenrod;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 30px 0;
    gap:10px;
    user-select: none;
    position: relative;
    .checkout-container{
        position: absolute;
        border: 5px solid white;
        top: 0%;
        left: 0;
        width: 100%;
        height: 117%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        .form-section-checkout{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: palegoldenrod;
            border:3px solid white;
            padding: 20px;
            .card-details-section{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                gap:3px;
                .smallwidth{
                    width: 30px;
                }
                .expirationDate{
                    width: 100px;
                }
            }
            .checkout-btn{
                padding:15px;
                background-color: palegoldenrod;
                border:3px solid white;
                margin-bottom: 15px;
                margin-right: 10px;
                cursor: pointer;
                font-size: larger;
                font-weight: bold;
                &:hover{
                    background-color: rgb(66, 209, 209);
                }
            }
        }
    }
    .empty-cart{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: larger;
        font-weight: bolder;
    }
    .cart-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 300px;
        border: 2px solid white;
        .cart-img{
            width: 200px;
            height: 200px;
        }
        .cart-button{
            background-color: palegoldenrod;
            border: 2px solid white;
            padding: 10px;
            width: 40px;
            margin-bottom: 10px;
            cursor: pointer;
            font-size: larger;
            margin-right: 10px;
        }
    }
}
.total-price{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: palegoldenrod;
    gap:20px;
    user-select: none;
    .checkout-button{
        padding:15px;
        background-color: palegoldenrod;
        border:3px solid white;
        margin-bottom: 15px;
        cursor: pointer;
        font-size: larger;
        font-weight: bold;
        &:hover{
            background-color: rgb(66, 209, 209);
        }
    }
}